.header {
  margin-top: 2.25rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.main-title {
  font-size: 1.75rem;
  margin: 0;
  letter-spacing: .65rem;
  color: $very-light-grayish-blue;
}
.button-theme {
  display: block;
  width: $size-button-theme;
  background-color: transparent;
  background-image: url(../../assets/images/icon-moon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
}