*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: $font-size;
}
body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-color: $very-light-grayish-blue;
  background-image: url(../../assets/images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper {
  max-width: 500px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}